

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paseo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">paseo</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <div class="titulo">Paseadores en tu zona</div>
    <img alt="Silhouette of mountains" src="https://media.istockphoto.com/id/1631343366/es/vector/antiguo-mapa-del-tesoro-boceto-vectorial-ilustraciones-dibujadas-a-mano-vectorial.jpg?s=2048x2048&w=is&k=20&c=hS_v1zUovseyusf-iuYqtQLVaghA1mgP6M2k7xpHSt0=" />

  </ion-card>

  <ion-content>
    <ion-card class="card-custom dark">
      <ion-card-header>
        <div class="card-header">
          <ion-card-title class="card-title dark">Paseadores destacados</ion-card-title>
        </div>
        
      </ion-card-header>

      




      <ion-card-content class="card-content">
        <ul role="list">

          <li class="list-item">
            <div class="flex items-center">
              <div class="row">
                <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7lkawcqjiHdmN-FquvzilxYI1outSpfO-YA&s" alt="Neil image">
                <div>
                  <p class="user-name dark">Neil Sims</p>
                  <p class="user-email dark">+5693441882</p>
                </div>
                <div class="amount dark">$320</div>
              </div>
            </div>
          </li>

          <li class="list-item">
            <div class="flex items-center">
              <div class="row">
                <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7lkawcqjiHdmN-FquvzilxYI1outSpfO-YA&s" alt="Neil image">
                <div>
                  <p class="user-name dark">Neil Sims</p>
                  <p class="user-email dark">+5693441882</p>
                </div>
                <div class="amount dark">$320</div>
              </div>
            </div>
          </li>

          <li class="list-item">
            <div class="flex items-center">
              <div class="row">
                <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7lkawcqjiHdmN-FquvzilxYI1outSpfO-YA&s" alt="Neil image">
                <div>
                  <p class="user-name dark">Neil Sims</p>
                  <p class="user-email dark">+5693441882</p>
                </div>
                <div class="amount dark">$320</div>
              </div>
            </div>
          </li>

          <li class="list-item">
            <div class="flex items-center">
              <div class="row">
                <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7lkawcqjiHdmN-FquvzilxYI1outSpfO-YA&s" alt="Neil image">
                <div>
                  <p class="user-name dark">Neil Sims</p>
                  <p class="user-email dark">+5693441882</p>
                </div>
                <div class="amount dark">$320</div>
              </div>
            </div>
          </li>

        </ul>
        <a href="#" class="card-link dark">verlos todos...</a>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
