<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      ArchiWoof
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="logo" src="assets/imgs/dog2.png" alt="The Wisconsin State Capitol building in Madison, WI at night"/>
  

  <div class="button-container">
    <ion-button [routerLink]="['/login']" class="first-button" expand="block">Dueño</ion-button>
    <ion-button [routerLink]="['/login']" class="first-button" expand="block">Paseador</ion-button>
  </div>


</ion-content>
